@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       Marek Fiala
// Kontakt:     xfiala60@stud.fit.vutbr.cz
//=================================================================================================================
*@

@model List<AllAgendaDTO>

<script src="/js/Agenda.js"></script>
<link rel="stylesheet" href="~/css/Agenda.css" />

<div class="d-flex justify-content-between mr-2 ml-2">
    <h1 class="page-name">Agendy</h1>
    <div id="Buttons" class="mt-auto mb-auto d-flex">
		<button class="btn btn-primary" onclick="ShowCrateModal()">Vytvořit agendu</button>
	</div>
</div>
<hr class="page-title-line">

<div class="row justify-content-between ml-0 mr-0">
	@foreach (AllAgendaDTO agenda in Model)
	{ 
		<a href="/Agenda/Detail/@agenda.Id" style="text-decoration: none;">
			<div class="card ">
				<h3 class="text-center">@agenda.Name</h3>
				<div class="border-top border-bottom pt-1 mb-1">
					@foreach (WorkflowCountDTO item in agenda.Workflows)
					{
						<div class="d-flex justify-content-between mb-1">
							<div class="mt-auto mb-auto">
								@item.Name
							</div>
							<div class="agenda-count mt-auto mb-auto">
								@item.Count
							</div>
						</div>
					}
					@if (agenda.Workflows.Count == 0)
					{
						<div class="mt-1 mb-2 text-center">
							<i>Agenda nemá žádná aktivní workflow</i>
						</div>
					} 
				</div>
				<div class="d-flex justify-content-between mb-1">
					<div class="mt-auto mb-auto">
						Počet uživatelů
					</div>
					<div class="user-count mt-auto mb-auto">
						@agenda.UserCount
					</div>
				</div>
				<div class="d-flex justify-content-between mb-1">
					<div class="mt-auto mb-auto">
						Počet nevyplněných rolí
					</div>
					<div class="user-count mt-auto mb-auto">
						@agenda.NotFilledRoleCount
					</div>
				</div>
			</div>
		</a>
	}
</div>

<div id="CreateAgendaId" class="modal">
    <div id="CreateBodyId" class="modal-content">
        <form method="post" action="/Agenda/Create" >
			<h2>Tvorba Agendy</h2>
			<hr class="mt-0 mb-3">
            <div class="input-group mb-2">@*
                *@<div class="input-group-prepend">@*
                    *@<label class="input-group-text agenda-edit-wdth comp-bckg">Název agendy</label>
                </div>
                <input autocomplete="off" id="AgendaNameId" class="form-control" name="Name" oninput="CreateAgendaCheck()"/>
            </div>
            <div class="input-group mb-3">@*
                *@<div class="input-group-prepend">@*
                    *@<label class="input-group-text agenda-edit-wdth comp-bckg">Popis agendy</label>
                </div>
                <textarea id="AgendaDescId" class="form-control" name="Description" oninput="CreateAgendaCheck()"></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" onclick="HideCreateModal()" class="btn btn-danger">Zrušit</button>
                <button id="CreateBtnId" type="submit" class="btn btn-success" disabled>Vytvořit</button>
            </div>
        </form>
    </div>
</div>
