@*
//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       David Mihola
// Kontakt:     xmihol00@stud.fit.vutbr.cz
//=================================================================================================================
*@

@model OverviewDTO

<div class="row">
    <div class="col-md-5">
        @foreach (AllTaskDTO task in Model.Tasks)
        {
            @if (task.Id == Model.Selected)
            {
                <div id=@($"Card{task.Id}") class="card card-selected ">
                    <div id=@($"Select{task.Id}")>
                        <h4 class="text-center">Čas pro vyřešení</h4>
                        <div id="CLK" class="d-flex justify-content-center mb-1" >
                            <div id="CDD" class="clk-div"></div>
                            <div id="CDH" class="clk-div"></div>
                            <div id="CDM" class="clk-div"></div>
                            <div id="CDS" class="clk-div"></div>
                        </div>
                    </div>
                    <div id=@($"Unselect{task.Id}") class="dis-none">
                        <span class="priority @task.Priority">@task.Priority.ToLabel()</span>
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="fit ml-1">@task.Type</h5>
                            @if (task.End.Date > DateTime.Now.Date.AddDays(3))
                            {
                                <h5 class="fit date-green">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                            else if (task.End.Date >= DateTime.Now.Date)
                            {
                                <h5 class="fit date-orange">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                            else
                            {
                                <h5 class="fit date-red">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <h3 class="fit">@task.WorkflowName</h3>
                        </div>
                        <div class="mb-2">
                            <a href="~/Agenda/Detail/@task.AgendaId" class="btn btn-sm btn-primary ov-btn-width">Agenda</a>
                            <a href="~/Workflow/Detail/@task.WorkflowId" class="btn btn-sm btn-primary ov-btn-width ml-1">Workflow</a>
                            <button id="@task.Id" onclick="SolveClicked(this.id)" class="btn btn-sm btn-primary ov-btn-width float-right">
                                Řešit <i class="fas fa-arrow-right ml-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id=@($"Card{task.Id}") class="card">
                    <div id=@($"Select{task.Id}") class="dis-none">
                        <h4 class="text-center">Vyřešit do</h4>
                    </div>
                    <div id=@($"Unselect{task.Id}")>
                        <span class="priority @task.Priority">@task.Priority.ToLabel()</span>
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="fit ml-1">@task.Type</h5>
                            @if (task.End.Date > DateTime.Now.Date.AddDays(3))
                            {
                                <h5 class="fit date-green">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                            else if (task.End.Date >= DateTime.Now.Date)
                            {
                                <h5 class="fit date-orange">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                            else
                            {
                                <h5 class="fit date-red">@task.End.ToString("dd. MM. yyyy")</h5>
                            }
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <h3 class="fit">@task.WorkflowName</h3>
                        </div>
                        <div class="mb-2">
                            <button id="@task.AgendaId" onclick="AgendaClicked(this.id)" class="btn btn-sm btn-primary ov-btn-width">Agenda</button>
                            <button id="@task.WorkflowId" onclick="WorkflowClicked(this.id)" class="btn btn-sm btn-primary ov-btn-width ml-1">Workflow</button>
                            <button id="@task.Id" onclick="SolveClicked(this.id)" class="btn btn-sm btn-primary ov-btn-width float-right">
                                Řešit <i class="fas fa-arrow-right ml-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (Model.Detail != null)
    {
        <div id="DetailDiv" class="col-md-7 mb-detail">
            @await Html.PartialAsync("Detail", Model.Detail)
        </div>
    }
</div>


