@*//================================================================    =================================================
    // Projekt:     VUT, FIT, ITU, celosemestralni projekt
    // Datum:       28. 11. 2021
    // Autor:       Vítek Hnatovskyj
    // Kontakt:     xhnato00@stud.fit.vutbr.cz
    //=================================================================================================================*@

@model SearchDTO

<ul id="AgendaList" class="list-group" style="margin-bottom: 1rem">
    <li class="list-group-item list-item-search">Agendy</li>
    @foreach (var agenda in Model.Agendas)
    {
        if (agenda == null || agenda.Id == 0 || agenda.Name == null)
        {
            continue;
        }
        if (Model.SelectedAgendaIds != null && Model.SelectedAgendaIds.Contains(agenda.Id))
        {
            <li id=@("Agenda" + agenda.Id)
                class="list-group-item list-item-search selected-state-enum"
                onclick="Filter(null, this)"
                value="@(agenda.Name)">
                @(agenda.Name)
                <i class="fas fa-times close-cross-right"></i>
            </li>
        }
        else
        {
            <li id=@("Agenda" + agenda.Id)
                class="list-group-item list-item-search"
                onclick="Filter(null, this)"
                value="@(agenda.Name)">
                @(agenda.Name)

            </li>
        }

    }


</ul>
<ul id="ModelList" class="list-group" style="margin-bottom: 1rem">
    <li class="list-group-item list-item-search">Modely workflow</li>
    @foreach (var model in Model.WorkflowModels)
    {
        if (model == null || model.Id == 0 || model.Name == null)
        {
            continue;
        }
        if (Model.SelectedWorkflowModelsIds != null && Model.SelectedWorkflowModelsIds.Contains(model.Id))
        {
            <li id=@("Model" + model.Id)
                class="list-group-item list-item-search selected-state-enum"
                onclick="Filter(null, this)"
                value="@(model.Name)">
                @(model.Name)
                <i class="fas fa-times close-cross-right"></i>
            </li>
        }
        else
        {
            <li id=@("Model" + model.Id)
                class="list-group-item list-item-search"
                onclick="Filter(null, this)"
                value="@(model.Name)">
                @(model.Name)

            </li>
        }

    }


</ul>
<ul id="StateList" class="list-group" style="margin-bottom: 1rem">
    <li class="list-group-item list-item-search search-headder">Stav workflow</li>
    @if (Model.States != null)
    {

        foreach (var state in Model.States)
        {
            if (Model.SelectedStates != null && Model.SelectedStates.Contains(state))
            {
                <li id=@("State" + state)
                    class="list-group-item list-item-search selected-state-enum"
                    onclick="Filter(null, this)"
                    value="@(state)">
                    @(state.ToLabel())
                    <i class="fas fa-times close-cross-right"></i>
                </li>
            }
            else
            {
                <li id=@("State" + state)
                    class="list-group-item list-item-search"
                    onclick="Filter(null, this)"
                    value="@(state)">
                    @(state.ToLabel())

                </li>
            }

        }

    }

</ul>
