@*//=================================================================================================================
// Projekt:     VUT, FIT, ITU, celosemestralni projekt
// Datum:       28. 11. 2021
// Autor:       Vítek Hnatovskyj
// Kontakt:     xhnato00@stud.fit.vutbr.cz
//=================================================================================================================*@

@model SearchDTO

        <ul id="AgendaList" class="list-group" style="margin-bottom: 1rem">
            <li class="list-group-item list-item-search">Agendy</li>
            @foreach (var agenda in Model.Agendas)

            {
                <li id=@("Agenda" + agenda.Id)
                    class="filter-button list-group-item-action list-group-item list-item-search"
                    onclick="Filter(null, this)"
                    value="@(agenda.Name)">
                    @(agenda.Name)

                </li>
            }


        </ul>
                <ul id="AgendaList" class="list-group" style="margin-bottom: 1rem">
                    <li class="list-group-item list-item-search">Modely workflow</li>
                    @foreach (var model in Model.WorkflowModels)

                    {
                        <li id=@("Model" + model.Id)
                            class="list-group-item list-item-search"
                            onclick="Filter(null, this)"
                            value="@(model.Name)">
                            @(model.Name)

                        </li>
                    }


                </ul>
                        <ul id="AgendaList" class="list-group" style="margin-bottom: 1rem">
                            <li class="list-group-item list-item-search">Typ úkolu</li>
                            @if (Model.ActiveTasks != null)
                            {

                                foreach (var task in Model.ActiveTasks)

                                {
                                    <li id=@("Task" + task.Id)
                                        class="filter-button list-group-item-action list-group-item list-item-search"
                                        onclick="Filter(null, this)"
                                        value="@(task.FileType)">
                                        @(task.FileType)

                                    </li>
                                }

                            }

                        </ul>
