@*//=================================================================================================================
    // Projekt:     VUT, FIT, ITU, celosemestralni projekt
    // Datum:       28. 11. 2021
    // Autor:       Vítek Hnatovskyj
    // Kontakt:     xhnato00@stud.fit.vutbr.cz
    //=================================================================================================================*@

@model List<AllWorkflowDTO>

<div id="listView">
    @for (int i = 0; i < Model.Count; i++)
    {

        <div id=@Model[i].Id class="workflow-div-overview border-bottom">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="workflow-tasks-overview">
                        @await Html.PartialAsync("../Model/svg", (Model[i].Agenda.Id, 0, 150, 80))
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-6">
                            @* odkaz na akci vracejici detail datove sady *@
                            <p style="word-break:break-word">@Model[i].ExpectedEnd</p>
                        </div>
                        <div class="col-6">
                            <span class="" style="margin-top: -2px;">@Model[i].CurrentTask.End</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            @if (Model[i].Name == null)
                            {
                                <h3 style="color:grey">
                                    @("Nepojmenovaná workflow")
                                </h3>
                            }
                            else
                            {
                                <h5>
                                    <a href="~/Workflow/Detail/@(Model[i].Id)">
                                        @(Model[i].Name)
                                    </a>
                                </h5>
                            }

                        </div>

                        <div class="col-6">
                            <span class="" style="margin-top: -2px;">Stav: @Model[i].State</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p style="word-break:break-word">Agenda: <a href="~/Agenda/Detail/@(Model[i].Agenda.Id)">@Model[i].Agenda.Name</a></p>
                        </div>

                        <div class="col-6">
                            <span class="" style="margin-top: -2px;"> <a>@Model[i].CurrentTask.Id</a></span>
                        </div>
                    </div>

                    <hr style="margin-bottom: -3px;">
                </div>
            </div>
        </div>

    }
</div>
<div id="tableView" hidden>

    <div class="row" style="text-align:center; word-break:break-word;">
        <div class="col-2 border-right">
            <span class="workflow-set-states states-enum">Datum ukončení Workflow</span>
        </div>
        <div class="col-2 border-right">
            <span class="workflow-set-states states-enum">Název workflow</span>
        </div>
        <div class="col-2 border-right">
            <span class="workflow-set-states states-enum">Odkaz na agendu</span>
        </div>
        <div class="col-2 border-right">
            <span class="workflow-set-states states-enum">Datum ukončení aktuálního úkolu</span>
        </div>
        <div class="col-2 border-right">
            <span class="workflow-set-states states-enum">Stav workflow</span>
        </div>
        <div class="col-2">
            <span class="workflow-set-states states-enum">Odkaz na aktuální úkol</span>
        </div>
    </div>
    <hr />
    @{
        foreach (var workflow in Model)
        {
            <div class="row border-bottom" style="text-align:center;">
                <div class="col-2 border-right">
                    <span class="">@workflow.ExpectedEnd</span>
                </div>
                <div class="col-2 border-right">
                    <span class="">@workflow.Name</span>
                </div>

                <div class="col-2 border-right">
                    <span class=""><a href="~/Agenda/Detail/@(workflow.Agenda.Id)">@workflow.Agenda.Name</a></span>
                </div>
                <div class="col-2 border-right">
                    <span class="">@workflow.CurrentTask.End</span>
                </div>
                <div class="col-2 border-right">
                    <span class="">@workflow.State</span>
                </div>
                <div class="col-2">
                    <span class="">@workflow.CurrentTask.Id</span>
                </div>
            </div>

        }
    }

</div>
