@model DetailTaskDTO

<script>
    var EndDate = new Date('@Model.End.ToString("yyyy-MM-ddTHH:mm:ss")');
    var CountDownInterval = null;
    var TaskId = @Model.Id;
</script>

<span id="EndDate" class="dis-none">@Model.End.ToString("yyyy-MM-ddTHH:mm:ss")</span>
<div id="TaskId" class="task-detail">
    <div class="header mb-2">
        <div class="d-flex justify-content-between mb-3 btn-div">
            <div>
                <button class="btn btn-danger">Zahodit změny</button>
            </div>
            <div>
                <button onclick="Save(false)" class="btn btn-success save-btn mr-1">Uložit</button>
                <button onclick="Save(true)" class="btn btn-success save-btn">Vyřešit</button>
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <span class="priority-detail @Model.Priority">@Model.Priority.ToLabel() priorita</span>
            <h5 class="fit ml-1">Zadáno: @Model.Start.ToString("dd. MM. yyyy")</h5>
            @if (Model.End.Date > DateTime.Now.Date.AddDays(3))
            {
                <h5 class="fit date-green"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
            else if (Model.End.Date >= DateTime.Now.Date)
            {
                <h5 class="fit date-orange"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
            else
            {
                <h5 class="fit date-red"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center mt-1">
                <div> 
                    <a href="~/Agenda/Detail/@Model.AgendaId" class="center">Agenda <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-1">
                <div>
                    <a href="~/Workflow/Detail/@Model.WorkflowId" class="center">Workflow <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div>
                    Druh úkolu 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 22px">
                    <span class="center">@Model.AgendaName</span>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 40px; margin-top -2px">
                    <span class="center">@Model.WorkflowName</span>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 25px">
                    <span class="center">@Model.ToLabel()</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 border-dark">
        <div class="task-description">
            Zadání
        </div>
        <p class="ml-2 mr-2 mt-1 mb-1">@Model.Description</p>
    </div>
    <form id="FormId"
          action="/Task/@Model.ToAction()/@Model.Id"
          method="POST">
        @switch (Model)
        {
            case IAssignmentDTO assignment:
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Odhad ceny</label>
                    </div>
                    <input class="form-control" value="@assignment.PriceGues.ToPrice()" 
                           onkeydown="FormatPriceDown(arguments[0], this)"
                           oninput="FormatPriceInput(this)" />
                    <div class="input-group-append">
                        <select class="input-group-text" >
                            @foreach (CurrencyEnum value in Enum.GetValues(typeof(CurrencyEnum)))
                            {
                                @if (value == assignment.Currency)
                                {
                                    <option selected>@value</option>
                                }
                                else
                                {
                                    <option>@value</option>
                                }
                            }
                        </select>
                    </div>
                </div>  
                break;

            case IAcceptationDTO acceptation:
                break;

             default:
                break;
        }
        <div class="files-div mb-2">
            <div class="input-group mb-2" style="margin-left: 1px;">
                <div class="input-group-prepend w-50">
                    <label class="input-group-text w-100">Soubory</label>
                </div>
                <input id="Upload" type="file" onchange="FileChosen(this)" multiple/>
                <div class="input-group-append w-50">
                    <label for="Upload" class="input-group-text d-flex justify-content-end w-100" style="cursor: pointer;">
                        <i class="fas fa-folder-open mr-2"></i> Vybrat nový
                    </label>
                </div>
            </div>
            <div id="NewFilesId" class="new-files" >
            </div>
            <div id="FilesId">
                @await Html.PartialAsync("../File/Partial/_Files", Model.Files)
            </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text task-prep-wdth">Požadavky</label>
            </div>
            <textarea class="form-control">@Model.Requirements</textarea>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text task-prep-wdth">Poznámka</label>
            </div>
            <textarea class="form-control">@Model.Note</textarea>
        </div>
    </form>
</div>


