@model DetailTaskDTO

<span id="EndDate" class="dis-none">@Model.End.ToString("yyyy-MM-ddTHH:mm:ss")</span>
<div id="TaskId" class="task-detail">
    <div class="header mb-2">
        <div class="d-flex justify-content-between mb-3 btn-div">
            <div>
                <button class="btn btn-danger">Zahodit změny</button>
            </div>
            <div>
                <button onclick="Save('@Model.ToAction()Save')" class="btn btn-success save-btn mr-1">Uložit</button>
                <button onclick="Solve('@Model.ToAction()')" class="btn btn-success save-btn">Vyřešit</button>
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <span class="priority-detail @Model.Priority">@Model.Priority.ToLabel()</span>
            <h5 class="fit ml-1">Zadáno: @Model.Start.ToString("dd. MM. yyyy")</h5>
            @if (Model.End.Date > DateTime.Now.Date.AddDays(3))
            {
                <h5 class="fit date-green"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
            else if (Model.End.Date >= DateTime.Now.Date)
            {
                <h5 class="fit date-orange"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
            else
            {
                <h5 class="fit date-red"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h5>
            }
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center mt-1">
                <div> 
                    <a href="~/Agenda/Detail/@Model.AgendaId" class="center">Agenda <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-1">
                <div>
                    <a href="~/Workflow/Detail/@Model.WorkflowId" class="center">Workflow <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div>
                    Druh úkolu 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 22px">
                    <span class="center">@Model.AgendaName</span>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 40px; margin-top -2px">
                    <span class="center">@Model.WorkflowName</span>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <div class="task-headline" style="font-size: 25px">
                    <span class="center">@Model.ToLabel()</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 border-dark">
        <div class="task-description">
            Popis cíle workflow
        </div>
        <p class="description-wf">@Model.Description</p>
    </div>
    <form id="@Model.Id" action="/Task/@Model.ToAction()Solve" method="POST">
        <input id="TaskId" name="Id" type="hidden" value="@Model.Id"/>
        <div class="input-group mb-2 @(@Model.End.Date < DateTime.Now.Date ? "dis-none" : "")" >
            <div class="input-group-prepend">
                <label class="input-group-text task-prep-wdth">Důvod zpoždění</label>
            </div>
            <textarea id="DelayReasonId" name="DelayReason" class="form-control">@Model.DelayReason</textarea>
        </div>  
        @switch (Model)
        {
            case IAssignmentDTO assignment:
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Prvotní odhad ceny</label>
                    </div>
                    <input id="PriceId" class="form-control comp" value="@assignment.PriceGues.ToPrice()" name="PriceGues"
                           onkeydown="FormatPriceDown(arguments[0], this)"
                           oninput="FormatPriceInput(this)" />
                    <div class="input-group-append">
                        <select class="input-group-text" name="Currency" id="CurrencyId" >
                            @foreach (CurrencyEnum value in Enum.GetValues(typeof(CurrencyEnum)))
                            {
                                @if (value == assignment.Currency)
                                {
                                    <option selected>@value</option>
                                }
                                else
                                {
                                    <option>@value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Přínos organizaci</label>
                    </div>
                    <textarea id="BenefitId" name="Benefit" class="form-control comp">@assignment.Benefit</textarea>
                </div>  
                break;

            case IAcceptationDTO acceptation:
                <div class="d-flex justify-content-between mb-2">
                    <div class="w-50">
                        <div class="pr-1">
                            <div class="border-dark bg-light">
                               <div class="task-description">
                                   Prvotní odhad ceny
                               </div>
                               <div class="d-flex justify-content-between">
                                   <div class="price-value">@acceptation.PriceGues</div>
                                   <div class="price-currency">@acceptation.Currency</div>
                               </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="pl-1">
                            <div class="border-dark">
                                <div class="task-description">
                                    Přínos pro organizaci
                                </div>
                                <div class="description-wf">
                                    @acceptation.Benefit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <div class="w-50">
                        <div class="pr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Přijmout</label>
                                </div>
                                <div class="input-group-text input-group-append border-right-radius">
                                    <input type="radio" id="AcceptId" name="Accepted" @(acceptation.Accepted ? "checked" : "") onclick="Accept()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Odmítnout</label>
                                </div>
                                <div class="input-group-text input-group-append border-right-radius">
                                    <input type="radio" id="DenyId" onclick="Deny()" @(acceptation.Accepted ? "" : "checked") />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label id="ReasonLabelId" class="input-group-text task-prep-wdth">Důvod přijetí</label>
                    </div>
                    <textarea id="ReasonId" name="Reason" class="form-control comp" >@acceptation.Reason</textarea>
                </div>
                break;

            case IAssessmentDTO assessment:
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Závěr posudku</label>
                    </div>
                    <textarea id="ConclusionId" name="Conclusion" class="form-control comp" >@assessment.Conclusion</textarea>
                </div>
                break;
            
            case IEstimateDTO estimate:
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Odhad ceny</label>
                    </div>
                    <input id="EstimatePriceId" class="form-control comp" value="@estimate.EstimatePrice.ToPrice()" name="EstimatePrice"
                           onkeydown="FormatPriceDown(arguments[0], this)"
                           oninput="FormatPriceInput(this)" />
                    <div class="input-group-append">
                        <label class="input-group-text">@estimate.Currency</label>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Maximální cena</label>
                    </div>
                    <input id="MaxPriceId" class="form-control comp" value="@estimate.MaxPrice.ToPrice()" name="MaxPrice"
                           onkeydown="FormatPriceDown(arguments[0], this)"
                           oninput="FormatPriceInput(this)" />
                    <div class="input-group-append">
                        <label class="input-group-text">@estimate.Currency</label>
                    </div>
                </div>
                break;
            
            case IContractDTO contract:
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Finální cena</label>
                    </div>
                    <input id="FinalPriceId" class="form-control comp" value="@contract.FinalPrice.ToPrice()" name="FinalPrice"
                           onkeydown="FormatPriceDown(arguments[0], this)"
                           oninput="FormatPriceInput(this)" />
                    <div class="input-group-append">
                        <select class="input-group-text" name="Currency" id="CurrencyId" >
                            @foreach (CurrencyEnum value in Enum.GetValues(typeof(CurrencyEnum)))
                            {
                                @if (value == contract.Currency)
                                {
                                    <option selected>@value</option>
                                }
                                else
                                {
                                    <option>@value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Typ smlouvy</label>
                    </div>
                    <select id="ContractTypeId" name="ContractType" class="form-control" name="Type">
                        @foreach (ContractTypeEnum value in Enum.GetValues(typeof(ContractTypeEnum)))
                        {
                            if (value == contract.ContractType)
                            {
                                <option value="@value" selected>@value.ToLabel()</option>
                            }
                            else
                            {
                                <option value="@value">@value.ToLabel()</option>
                            }
                        }
                    </select>
                </div>
                break;
            
            case IPublishDTO publish:
                <div class="d-flex justify-content-between mb-2">
                    <div class="w-50">
                        <div class="pr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Datum zveřejnění</label>
                                </div>
                                <input type="date" class="form-control" name="PublishStart" id="PublishStartId"
                                       value="@(publish.PublishStart > DateTime.Now ? publish.PublishStart.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" 
                                       min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Datum ukončení</label>
                                </div>
                                <input type="date" class="form-control" name="PublishEnd" id="PublishEndId"
                                       value="@(publish.PublishEnd > DateTime.Now ? publish.PublishEnd.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" 
                                       min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                </div>
                break;

            case IArchivationDTO archivation:
                <div class="d-flex justify-content-between mb-2">
                    <div class="w-50">
                        <div class="pr-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Číslo archivace</label>
                                </div>
                                <input type="number" class="form-control" name="Number" id="NumberId" value="@archivation.Number" />
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="pl-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text task-prep-wdth">Datum zrušení</label>
                                </div>
                                <input type="date" class="form-control" name="Cancallation" id="CancallationId"
                                       value="@(archivation.Cancallation > DateTime.Now ? archivation.Cancallation.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" 
                                       min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text task-prep-wdth">Umístění archivace</label>
                    </div>
                    <select id="LocationId" name="Location" class="form-control" name="Type">
                        @foreach (LocationEnum value in Enum.GetValues(typeof(LocationEnum)))
                        {
                            if (value == archivation.Location)
                            {
                                <option value="@value" selected>@value.ToLabel()</option>
                            }
                            else
                            {
                                <option value="@value">@value.ToLabel()</option>
                            }
                        }
                    </select>
                </div>
                break;

             default:
                break;
        }
        <div class="files-div mb-2">
            <div class="input-group mb-2" style="margin-left: 1px;">
                <div class="input-group-prepend w-50">
                    <label class="input-group-text w-100">Soubory</label>
                </div>
                <input id="Upload" type="file" onchange="FileChosen(this)" multiple/>
                <div class="input-group-append w-50">
                    <label for="Upload" class="input-group-text d-flex justify-content-end w-100" style="cursor: pointer;">
                        <i class="fas fa-folder-open mr-2"></i> Nahrát nový
                    </label>
                </div>
            </div>
            <div id="NewFilesId" class="new-files" >
            </div>
            <div id="FilesId">
                @await Html.PartialAsync("../File/Partial/_Files", Model.Files)
            </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text task-prep-wdth">Poznámka</label>
            </div>
            <textarea id="NoteId" name="Note" class="form-control">@Model.Note</textarea>
        </div>
    </form>
</div>


