@model DetailTaskDTO

<script>
    var EndDate = new Date('@Model.End.ToString("yyyy-MM-ddTHH:mm:ss")');
    var CountDownInterval = null;
</script>

<span id="EndDate" class="dis-none">@Model.End.ToString("yyyy-MM-ddTHH:mm:ss")</span>
<div class="task-detail">
    <div class="d-flex justify-content-between mb-3 btn-div">
        <span class="priority-detail @Model.Priority">@Model.Priority.ToLabel() priorita</span>
        <div>
            <button class="btn btn-danger">Zahodit změny</button>
        </div>
        <div>
            <button class="btn btn-success save-btn mr-1">Uložit</button>
            <button class="btn btn-success save-btn">Vyřešit</button>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-between mb-2">
            <h4 class="fit ml-1">Zadáno: @Model.Start.ToString("dd. MM. yyyy")</h4>
            @if (Model.End.Date > DateTime.Now.Date.AddDays(3))
            {
                <h4 class="fit date-green"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h4>
            }
            else if (Model.End.Date >= DateTime.Now.Date)
            {
                <h4 class="fit date-orange"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h4>
            }
            else
            {
                <h4 class="fit date-red"><span style="color: black;">Ukončení:</span> @Model.End.ToString("dd. MM. yyyy")</h4>
            }
        </div>
        <div class="row pl-1 pr-1">
            <div class="col-md-4">
                <span>
                    Druh úkolu: @Model.Type
                </span>
            </div>
            <div class="col-md-4">
                <span style="align-content: center;">
                    Workflow: <a href="~/Workflow/Detail/@Model.WorkflowId" >@Model.WorkflowName</a>
                </span>
            </div>
            <div class="col-md-4">
                <span class="float-right">
                    Agenda: <a href="~/Agenda/Detail/@Model.AgendaId">@Model.AgendaName</a>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-1">
            <h1 class="fit">@Model.WorkflowName</h1>
        </div>
        <div class="mb-2">
            
            
        </div>
    </div>
    @switch (Model)
    {
        case IAssignmentDTO assignment:
            break;
        
        case IAcceptationDTO acceptation:
            break;

         default:
            break;
    }
</div>

